#Created by Sam Gleske
#Sat Jul  9 12:17:02 PDT 2016
#My personal linux gaming desktop firewall
#Ubuntu 16.04 LTS
#Linux 4.4.0-28-generic x86_64
#iptables v1.6.0

*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:OUTPUT_deny - [0:0]
:OUTPUT_allow - [0:0]
:VALVE_NETWORKS - [0:0]
:VALVE_NETWORKS_allow - [0:0]
:BLIZZARD_NETWORKS - [0:0]
:BLIZZARD_NETWORKS_allow - [0:0]
:INTERNAL - [0:0]
:INTERNAL_allow - [0:0]
:PUBLIC_deny - [0:0]
:PUBLIC_allow - [0:0]
:LOGGING - [0:0]

#INPUT Chain
-A INPUT -j PUBLIC_deny
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -j INTERNAL
-A INPUT -j PUBLIC_allow
-A INPUT -j LOGGING
-A INPUT -j REJECT --reject-with icmp-host-prohibited

#OUTPUT Chain
-A OUTPUT -j OUTPUT_deny
-A OUTPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A OUTPUT -o lo -j ACCEPT
-A OUTPUT -j OUTPUT_allow
-A OUTPUT -j VALVE_NETWORKS
-A OUTPUT -j BLIZZARD_NETWORKS
-A OUTPUT -j LOGGING
-A OUTPUT -j REJECT --reject-with icmp-host-prohibited

#FORWARD Chain
-A FORWARD -m state --state ESTABLISHED,RELATED -j ACCEPT
-A FORWARD -j LOGGING
-A FORWARD -j REJECT --reject-with icmp-host-prohibited

#LOGGING Chain
#-A LOGGING -m limit --limit 2/min -j LOG --log-prefix "iptables DROP: " --log-level 4
-A LOGGING -m limit -j LOG --log-prefix "iptables DROP: " --log-level 4


########################################################################
# GLESKE INTERNAL NETWORKS

-A INTERNAL -s 192.168.10.0/24 -g INTERNAL_allow
#VPN
-A INTERNAL -s 10.9.8.0/24 -g INTERNAL_allow

#icmp
-A INTERNAL_allow -p icmp -j ACCEPT
#synergy
-A INTERNAL_allow -p tcp -m state --state NEW -m tcp --dport 24800 -j ACCEPT
#ssh
-A INTERNAL_allow -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT
#Herd deployments via bittorrent
-A INTERNAL_allow -p tcp -m state --state NEW -m multiport --dport 10000:11000 -j ACCEPT
#accept traceroutes
-A INTERNAL_allow -p udp -m state --state NEW -m udp --dport 33434:33523 -j ACCEPT
#Starbound
-A INTERNAL_allow -p tcp -m state --state NEW -m tcp --dport 21025 -j ACCEPT

# END GLESKE INTERNAL NETWORKS
########################################################################


########################################################################
# PUBLIC INTERNET RULES

#DENY CONNECTIONS

#MALWARE
-A PUBLIC_deny -s 212.7.208.65 -j DROP
-A PUBLIC_deny -s 192.168.10.1 -p tcp -m state --state NEW -m tcp --dport 22 -j DROP

#ALLOW CONNECTIONS

#ssh from everyone in the world
#-A PUBLIC_allow -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT

#Terraria
-A PUBLIC_allow -s 23.243.71.225 -p tcp -m state --state NEW -m tcp --dport 7777 -j ACCEPT


# END PUBLIC INTERNET RULES
########################################################################


########################################################################
# OUTBOUND RULES

#OUTBOUND block

#MALWARE
-A OUTPUT_deny -d 212.7.208.65 -j DROP

#OUTBOUND allow

#allow all internal network outbound communications
-A OUTPUT_allow -d 192.168.10.0/24 -j ACCEPT
-A OUTPUT_allow -d 10.9.8.0/24 -j ACCEPT

#Allow Google network for XMPP chatting
-A OUTPUT_allow -d 173.194.0.0/16 -p tcp -m tcp --dport 5222 -j ACCEPT

#-A OUTPUT_allow -d 192.168.100.1 -j ACCEPT
#allow ping only to public servers
-A OUTPUT_allow -p icmp -m state --state NEW -m icmp --icmp-type 8 -j ACCEPT
#Google Public DNS
-A OUTPUT_allow -p udp -d 8.8.8.8 -m state --state NEW -m udp --dport 53 -j ACCEPT
-A OUTPUT_allow -p tcp -d 8.8.8.8 -m state --state NEW -m tcp --dport 53 -j ACCEPT
-A OUTPUT_allow -p udp -d 8.8.4.4 -m state --state NEW -m udp --dport 53 -j ACCEPT
-A OUTPUT_allow -p tcp -d 8.8.4.4 -m state --state NEW -m tcp --dport 53 -j ACCEPT
#Allow NTP
-A OUTPUT_allow -p tcp -m state --state NEW -m tcp --dport 123 -j ACCEPT
-A OUTPUT_allow -p udp -m state --state NEW -m udp --dport 123 -j ACCEPT
#smtps outbound
-A OUTPUT_allow -p tcp -m state --state NEW -m tcp --dport 587 -j ACCEPT
#system updates and web traffic
-A OUTPUT_allow -p tcp -m state --state NEW -m multiport --dport 21,80,443 -j ACCEPT
#accept traceroutes
-A OUTPUT_allow -p udp -m state --state NEW -m udp --dport 33434:33523 -j ACCEPT
#irc networks
-A OUTPUT_allow -p tcp -m state --state NEW -m tcp --dport 6667 -j ACCEPT
#allow outbound ssh
-A OUTPUT_allow -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT

#Terraria
-A OUTPUT_allow -d 23.243.71.225 -p tcp -m state --state NEW -m tcp --dport 7777 -j ACCEPT

#
-A OUTPUT_allow -d 103.246.31.101 -p tcp -m state --state NEW -m tcp --dport 133 -j ACCEPT

#Rust game
-A OUTPUT_allow -p udp --dport 28015 -j ACCEPT
-A OUTPUT_allow -p tcp -m state --state NEW -m tcp --dport 28016 -j ACCEPT
-A OUTPUT_allow -p udp -m multiport --dports 17500,28015,28016,28026,28215,28231,28315 -j ACCEPT

# END OUTBOUND RULES
########################################################################

########################################################################
# BLIZZARD NETWORKS RULES
# For Battle.net games

# This is to limit TCP and UDP client communications only to Blizzard
# networks.

# Resources:
#   * List of Blizzard Entertainment, Inc. networks http://ipinfo.io/AS57976
#   * Battle.net client ports https://us.battle.net/support/en/article/300479

#Misc rules discovered via firewall monitoring
-A OUTPUT_allow -d 12.129.0.0/16 -p tcp -m multiport --dports 1119,3724 -j ACCEPT
#-A OUTPUT_allow -d 24.105.0.0/16 -p tcp -m tcp --dport 1119 -j ACCEPT
-A OUTPUT_allow -d 69.164.0.0/16 -p tcp -m multiport --dports 1119 -j ACCEPT

#local LAN broadcasts
-A OUTPUT_allow -p udp -d 255.255.255.255 -m state --state NEW -m udp --dport 6120 -j ACCEPT


#United States IP Blocks for Blizzard Entertainment, Inc.
-A BLIZZARD_NETWORKS -d 24.105.0.0/21 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.8.0/21 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.16.0/22 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.20.0/22 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.25.0/24 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.26.0/23 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.28.0/24 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.29.0/24 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.32.0/21 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.40.0/21 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.52.0/22 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.57.0/24 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.60.0/24 -g BLIZZARD_NETWORKS_allow
-A BLIZZARD_NETWORKS -d 24.105.61.0/24 -g BLIZZARD_NETWORKS_allow

#allowed blizzard ports
#battle.net client
-A BLIZZARD_NETWORKS_allow -p tcp -m multiport --dport 1119,1120,3724,4000,6112,6113,6114 -j ACCEPT
-A BLIZZARD_NETWORKS_allow -p udp -m multiport --dport 1119,1120,3724,4000,6112,6113,6114 -j ACCEPT
#diablo 3
-A BLIZZARD_NETWORKS_allow -p tcp -m multiport --dport 80 -j ACCEPT
-A BLIZZARD_NETWORKS_allow -p udp -m multiport --dport 6120 -j ACCEPT



# END BLIZZARD NETWORKS RULES
########################################################################

########################################################################
# VALVE NETWORKS RULES
# For Steam PC Games

# Why? Steam requires one to open a lot of outbound and inbound ports.
# However, I only want to open those ports to trusted networks.  Namely between
# Valve and I and my local networks.  This helps prevent any rogue networks
# redirecting my Steam Client traffic, maliciously or otherwise.

# Resources:
#   * List of Valve Corporation networks http://ipinfo.io/AS32590
#   * Valve client ports https://support.steampowered.com/kb_article.php?ref=8571-GLVN-8711

#United States IP Blocks for Valve Corporation
-A VALVE_NETWORKS -d 72.165.61.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 103.10.124.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 103.10.125.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 155.133.239.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 155.133.240.0/23 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 155.133.242.0/23 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 155.133.244.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 155.133.245.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 155.133.246.0/23 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 155.133.248.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 155.133.249.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 155.133.252.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 155.133.254.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 162.254.192.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 162.254.193.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 162.254.194.0/23 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 162.254.195.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 162.254.196.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 162.254.197.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 162.254.198.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 162.254.199.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 192.69.96.0/22 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 205.185.194.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 205.196.6.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 208.64.200.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 208.64.201.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 208.64.202.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 208.64.203.0/24 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 208.78.164.0/22 -g VALVE_NETWORKS_allow
-A VALVE_NETWORKS -d 216.58.193.0/22 -g VALVE_NETWORKS_allow

#ALLOW OUTBOUND PORTS ONLY FOR VALVE CORPORATION
#Steam Client
-A VALVE_NETWORKS_allow -p tcp -m multiport --dport 27000:27050 -j ACCEPT
-A VALVE_NETWORKS_allow -p udp -m multiport --dport 27000:27050,4380 -j ACCEPT
#Steamworks P2P Networking and Steam Voice Chat
-A VALVE_NETWORKS_allow -p udp -m multiport --dport 3478,4379,4380 -j ACCEPT

#ALLOW INBOUND PORTS (INTERNAL NETWORKS ONLY)
#In-Home Streaming
-A INTERNAL_allow -p tcp -m state --state NEW -m multiport --dports 27036,27037 -j ACCEPT
-A INTERNAL_allow -p udp -m state --state NEW -m multiport --dports 27031,27036 -j ACCEPT

COMMIT
